@charset "UTF-8";

/* 
Mobile: 360 x 640.
Mobile: 375 x 667.
Mobile: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tablet: 768 x 1024.
Laptop: 1366 x 768.
High-res laptop or desktop: 1920 x 1080. 
*/

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
  }
  section#login {
    width: 80vw;
    height: 280px;
  }

  section#login > #imagem {
    float: left;
    width: 30%;
    height: 100%;
    background-position: center center;
  }

  section#login > #formulario {
    float: right;
    width: 70%;
  }
}

/* telas maiores */
@media screen and (min-width: 992px) {
  body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
  }

  section#login {
    width: 950px;
    height: 350px;
  }

  section#login > #imagem {
    float: right;
    width: 50%;
    height: 100%;
  }

  section#login > #formulario {
    float: left;
    width: 50%;
  }

  div#formulario h1 {
    font-size: 2em;
  }

  div#formulario p {
    font-size: 1.2em;
  }
}
